*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  margin: inherit;
  font-family: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;

  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  appearance: textfield;

  &::-webkit-search-decoration {
    appearance: none;
  }
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}
